<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sourcedimensions.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.sourcedimensions.client.Perspective"
            id="SourceDimensionsClient.perspective">
      </perspective>
   </extension>
  
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sourcedimensions.client.application"
            name="Source Dimensions">
         <property
               name="windowImages"
               value="icons/img16.gif,icons/img32.gif,icons/img48.gif,icons/img64.gif,icons/img128.gif"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
      </product>
   </extension> 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.sourcedimensions.client.views.MainView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
            category="com.sourcedimensions.client"
            class="com.sourcedimensions.client.views.ProjectView"
            icon="icons/project.png"
            id="com.sourcedimensions.client.views.ProjectView"
            name="Project View"/>
   </extension>
   <extension
         id="com.sourcedimensions.client.projectActionSet"
         name="Project menu"
         point="org.eclipse.ui.actionSets">
         <actionSet
         	id="com.sourcedimensions.client.projectActionSet"
         	label="Project"
         	visible="true">
               <action
                   class="com.sourcedimensions.client.actions.OpenProjectAction"
                   icon="icons/project.png"
                   id="com.sourcedimensions.client.openProject"
                   label="Open &amp;Project..."
                   menubarPath="project/additions_project"
                   toolbarPath="additions_project"/>
               <action
                   class="com.sourcedimensions.client.actions.DeleteFolderAction"
                   icon="icons/delfolder.png"
                   id="com.sourcedimensions.client.deleteFolder"
                   label="&amp;Delete Folder"
                   menubarPath="project/additions_folder"
                   toolbarPath="additions_folder"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.RenameFolderAction"
                   icon="icons/editfolder.png"
                   id="com.sourcedimensions.client.renameFolder"
                   label="&amp;Rename Folder..."
                   menubarPath="project/additions_folder"
                   toolbarPath="additions_folder"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   label="Create &amp;Folder..."
                   menubarPath="project/additions_folder"
                   toolbarPath="additions_folder"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotGroup"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>                 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.DeleteQueryAction"
                   icon="icons/delquery.png"
                   id="com.sourcedimensions.client.deleteQuery"
                   label="&amp;Delete Query"
                   menubarPath="query/additions_query2"
                   toolbarPath="additions_query"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/> 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.EditQueryAction"
                   icon="icons/editquery.png"
                   id="com.sourcedimensions.client.editQuery"
                   label="&amp;Edit Query..."
                   menubarPath="query/additions_query2"
                   toolbarPath="additions_query"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/> 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.SymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.symbolQuery"
                   label="&amp;Symbol Query..."
                   menubarPath="query/additions_query"
                   toolbarPath="additions_query">
               </action>               
               <action
                   class="com.sourcedimensions.client.actions.DeleteSnapshotAction"
                   icon="icons/delsnapshot.png"
                   id="com.sourcedimensions.client.deleteSnapshot"
                   label="&amp;Delete Snapshot"
                   menubarPath="snapshot/additions_snapshot"
                   toolbarPath="additions_snapshot"                   
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.RenameSnapshotAction"
                   icon="icons/editsnapshot.png"
                   id="com.sourcedimensions.client.renameSnapshot"
                   label="&amp;Rename Snapshot..."
                   menubarPath="snapshot/additions_snapshot"
                   toolbarPath="additions_snapshot"                   
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
               </action>               
          </actionSet>
   </extension>
   <extension 
         point="org.eclipse.ui.popupMenus">
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.folderContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$FolderObject">
               <action
                   class="com.sourcedimensions.client.actions.SymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.symbolQuery"
                   menubarPath="additions_query"
                   label="Symbol Query..."/>              
               <action
                   class="com.sourcedimensions.client.actions.DeleteFolderAction"
                   icon="icons/delfolder.png"
                   id="com.sourcedimensions.client.deleteFolder"
                   menubarPath="additions_folder"                   
                   label="Delete Folder"/>
               <action
                   class="com.sourcedimensions.client.actions.RenameFolderAction"
                   icon="icons/editfolder.png"
                   id="com.sourcedimensions.client.renameFolder"
                   menubarPath="additions_folder"                     
                   label="Rename Folder..."/>
               <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                     
                   label="Create Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.snapshotGroupContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$SnapshotGroup">
              <action
                   class="com.sourcedimensions.client.actions.SymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.symbolQuery"
                   menubarPath="additions_query"                                        
                   label="Symbol Query..."/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                                          
                   label="Create Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.queryGroupContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$QueryGroup">
              <action
                   class="com.sourcedimensions.client.actions.SymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.symbolQuery"
                   menubarPath="additions_query"                                        
                   label="Symbol Query..."/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                                          
                   label="Create Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.snapshotContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$SnapshotObject">
              <action
                   class="com.sourcedimensions.client.actions.DeleteSnapshotAction"
                   icon="icons/delsnapshot.png"
                   id="com.sourcedimensions.client.deleteSnapshot"
                   menubarPath="additions_snapshot"
                   label="Delete Snapshot"/>              
              <action
                   class="com.sourcedimensions.client.actions.RenameSnapshotAction"
                   icon="icons/editsnapshot.png"
                   id="com.sourcedimensions.client.renameSnapshot"
                   menubarPath="additions_snapshot"
                   label="Rename Snapshot..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.queryContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$QueryObject">
              <action
                   class="com.sourcedimensions.client.actions.DeleteQueryAction"
                   icon="icons/delquery.png"
                   id="com.sourcedimensions.client.deleteQuery"
                   menubarPath="additions_query"
                   label="Delete Query"/>              
              <action
                   class="com.sourcedimensions.client.actions.EditQueryAction"
                   icon="icons/editquery.png"
                   id="com.sourcedimensions.client.editQuery"
                   menubarPath="additions_query"
                   label="Edit Query..."/>                   
         </objectContribution>         
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.projectContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$RootGroup">
                 <action
                     class="com.sourcedimensions.client.actions.CloseProjectAction"
                     id="com.sourcedimensions.client.closeProject"
                     label="Close Project"/>
         </objectContribution>
         
   </extension>

</plugin>
