<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sourcedimensions.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.sourcedimensions.client.Perspective"
            id="SourceDimensionsClient.perspective">
      </perspective>
   </extension>
  
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sourcedimensions.client.application"
            name="Source Dimensions">
         <property
               name="windowImages"
               value="icons/img16.gif,icons/img32.gif,icons/img48.gif,icons/img64.gif,icons/img128.gif"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
      </product>
   </extension> 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.sourcedimensions.client.views.MainView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
            category="com.sourcedimensions.client"
            class="com.sourcedimensions.client.views.ProjectView"
            icon="icons/project.png"
            id="com.sourcedimensions.client.views.ProjectView"
            name="Project View"/>
   </extension>
   <extension
         id="com.sourcedimensions.client.projectActionSet"
         name="Project menu"
         point="org.eclipse.ui.actionSets">
         <actionSet
         	id="com.sourcedimensions.client.projectActionSet"
         	label="Project"
         	visible="true">
               <action
                   class="com.sourcedimensions.client.actions.OpenProjectAction"
                   icon="icons/project.png"
                   id="com.sourcedimensions.client.openProject"
                   label="&amp;Open..."
                   menubarPath="project/additions_project"
                   toolbarPath="additions_project"/>
               <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   label="New &amp;Folder..."
                   menubarPath="project/additions_folder"
                   toolbarPath="additions_folder"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotGroup"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>                 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.ExecuteQueryAction"
                   icon="icons/execute.png"
                   id="com.sourcedimensions.client.executeQuery"
                   label="E&amp;xecute"
                   menubarPath="query/additions_query2"
                   toolbarPath="additions_query"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/> 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.EditQueryAction"
                   icon="icons/editquery.png"
                   id="com.sourcedimensions.client.editQuery"
                   label="&amp;Edit..."
                   menubarPath="query/additions_query2"
                   toolbarPath="additions_query"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/> 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.CreateSymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.createSymbolQuery2"
                   label="&amp;New Symbol Query..."
                   menubarPath="query/additions_query"
                   toolbarPath="additions_query">
               </action>               
               <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteObject"
                   label="&amp;Delete"
                   menubarPath="project/additions_object"
                   toolbarPath="additions_object"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotGroup"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryGroup"/>                 
               </action>
               <action
                   class="com.sourcedimensions.client.actions.PasteObjectAction"
                   icon="icons/paste_edit.gif"
                   id="com.sourcedimensions.client.paste"
                   label="&amp;Paste"
                   menubarPath="project/additions_object"
                   toolbarPath="additions_object"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotGroup"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryGroup"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.CopyObjectAction"
                   icon="icons/copy_edit.gif"
                   id="com.sourcedimensions.client.cut"
                   label="&amp;Copy"
                   menubarPath="project/additions_object"
                   toolbarPath="additions_object"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.CutObjectAction"
                   icon="icons/cut_edit.gif"
                   id="com.sourcedimensions.client.cut"
                   label="Cu&amp;t"
                   menubarPath="project/additions_object"
                   toolbarPath="additions_object"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/>
               </action>
               <action
                   class="com.sourcedimensions.client.actions.RenameObjectAction"
                   id="com.sourcedimensions.client.renameObject"
                   label="&amp;Rename..."
                   menubarPath="project/additions_object"
                   enablesFor="1">
                 <selection class="com.sourcedimensions.client.views.ProjectView$FolderObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$SnapshotObject"/>
                 <selection class="com.sourcedimensions.client.views.ProjectView$QueryObject"/>
               </action>               
          </actionSet>
   </extension>
   <extension 
         point="org.eclipse.ui.popupMenus">
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.folderContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$FolderObject">
               <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteFolder"
                   menubarPath="additions_object"                   
                   label="Delete"/>
               <action
                   class="com.sourcedimensions.client.actions.PasteObjectAction"
                   icon="icons/paste_edit.gif"
                   id="com.sourcedimensions.client.pasteObject"
                   menubarPath="additions_object"                   
                   label="Paste"/>
               <action
                   class="com.sourcedimensions.client.actions.CopyObjectAction"
                   icon="icons/copy_edit.gif"
                   id="com.sourcedimensions.client.copyFolder"
                   menubarPath="additions_object"                   
                   label="Copy"/>                   
               <action
                   class="com.sourcedimensions.client.actions.CutObjectAction"
                   icon="icons/cut_edit.gif"
                   id="com.sourcedimensions.client.cutFolder"
                   menubarPath="additions_object"                   
                   label="Cut"/>
               <action
                   class="com.sourcedimensions.client.actions.RenameObjectAction"
                   id="com.sourcedimensions.client.renameFolder"
                   menubarPath="additions_object"                     
                   label="Rename..."/>
               <action
                   class="com.sourcedimensions.client.actions.CreateSymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.createSymbolQuery"
                   menubarPath="additions_query"
                   label="New Symbol Query..."/>              
               <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                     
                   label="New Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.snapshotGroupContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$SnapshotGroup">
              <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteSnapshotGroup"
                   menubarPath="additions_object"
                   label="Delete"/>              
               <action
                   class="com.sourcedimensions.client.actions.PasteObjectAction"
                   icon="icons/paste_edit.gif"
                   id="com.sourcedimensions.client.pasteObject2"
                   menubarPath="additions_object"                   
                   label="Paste"/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateSymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.createSymbolQuery"
                   menubarPath="additions_query"                                        
                   label="New Symbol Query..."/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                                          
                   label="New Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.queryGroupContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$QueryGroup">
              <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteQueryGroup"
                   menubarPath="additions_object"
                   label="Delete"/>
               <action
                   class="com.sourcedimensions.client.actions.PasteObjectAction"
                   icon="icons/paste_edit.gif"
                   id="com.sourcedimensions.client.pasteObject3"
                   menubarPath="additions_object"                   
                   label="Paste"/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateSymbolQueryAction"
                   icon="icons/symbol.png"
                   id="com.sourcedimensions.client.createSymbolQuery"
                   menubarPath="additions_query"                                        
                   label="New Symbol Query..."/>              
              <action
                   class="com.sourcedimensions.client.actions.CreateFolderAction"
                   icon="icons/addfolder.png"
                   id="com.sourcedimensions.client.createFolder"
                   menubarPath="additions_folder"                                          
                   label="New Folder..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.snapshotContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$SnapshotObject">
              <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteSnapshot"
                   menubarPath="additions_object"
                   label="Delete"/>
               <action
                   class="com.sourcedimensions.client.actions.CopyObjectAction"
                   icon="icons/copy_edit.gif"
                   id="com.sourcedimensions.client.copyFolder"
                   menubarPath="additions_object"                   
                   label="Copy"/>                   
               <action
                   class="com.sourcedimensions.client.actions.CutObjectAction"
                   icon="icons/cut_edit.gif"
                   id="com.sourcedimensions.client.cutFolder"
                   menubarPath="additions_object"                   
                   label="Cut"/>                   
              <action
                   class="com.sourcedimensions.client.actions.RenameObjectAction"
                   id="com.sourcedimensions.client.renameSnapshot"
                   menubarPath="additions_object"
                   label="Rename..."/>
         </objectContribution>
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.queryContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$QueryObject">
              <action
                   class="com.sourcedimensions.client.actions.DeleteObjectAction"
                   icon="icons/delete.png"
                   id="com.sourcedimensions.client.deleteQuery"
                   menubarPath="additions_object"
                   label="Delete"/>
               <action
                   class="com.sourcedimensions.client.actions.CopyObjectAction"
                   icon="icons/copy_edit.gif"
                   id="com.sourcedimensions.client.copyFolder"
                   menubarPath="additions_object"                   
                   label="Copy"/>                   
               <action
                   class="com.sourcedimensions.client.actions.CutObjectAction"
                   icon="icons/cut_edit.gif"
                   id="com.sourcedimensions.client.cutFolder"
                   menubarPath="additions_object"                   
                   label="Cut"/>
              <action
                   class="com.sourcedimensions.client.actions.RenameObjectAction"
                   id="com.sourcedimensions.client.renameQuery"
                   menubarPath="additions_object"
                   label="Rename..."/>              
              <action
                   class="com.sourcedimensions.client.actions.ExecuteQueryAction"
                   icon="icons/execute.png"
                   id="com.sourcedimensions.client.executeQuery"
                   menubarPath="additions_query"
                   label="Execute"/>                   
              <action
                   class="com.sourcedimensions.client.actions.EditQueryAction"
                   icon="icons/editquery.png"
                   id="com.sourcedimensions.client.editQuery"
                   menubarPath="additions_query"
                   label="Edit..."/>                   
         </objectContribution>         
         <objectContribution
              adaptable="false"
              id="com.sourcedimensions.client.projectContributions"
              objectClass="com.sourcedimensions.client.views.ProjectView$RootGroup">
                 <action
                     class="com.sourcedimensions.client.actions.CloseProjectAction"
                     id="com.sourcedimensions.client.closeProject"
                     label="Close"/>
         </objectContribution>
         
   </extension>

</plugin>
